[submodule "winwin.git"]
	path = winwin.git
	url = git@github.com:phodge/winwin.git
[submodule "nvim-treesitter.git"]
	path = vim-packages/nvim-treesitter.git
	url = git@github.com:nvim-treesitter/nvim-treesitter.git
	branch = 0.5-compat
[submodule "nvim-treesitter-playground.git"]
	path = vim-packages/nvim-treesitter-playground.git
	url = git@github.com:nvim-treesitter/playground.git
[submodule "nvimdev.nvim.git"]
	path = vim-packages/nvimdev.nvim.git
	url = https://github.com/neovim/nvimdev.nvim.git
[submodule "spacetea.vim.git"]
	path = vim-packages/spacetea.vim.git
	url = https://github.com/phodge/spacetea.vim.git
[submodule "firenvim.git"]
	path = vim-packages/firenvim.git
	url = https://github.com/glacambre/firenvim.git
[submodule "editorconfig-vim.git"]
	path = vim-packages/editorconfig-vim.git
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "ale.git"]
	path = vim-packages/ale.git
	url = https://github.com/w0rp/ale.git
[submodule "YouCompleteMe.git"]
	path = vim-packages/YouCompleteMe.git
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim-argwrap.git"]
	path = vim-packages/vim-argwrap.git
	url = https://github.com/FooSoft/vim-argwrap.git
[submodule "nginx.vim.git"]
	path = vim-packages/nginx.vim.git
	url = https://github.com/chr4/nginx.vim.git
[submodule "DidYouMean.git"]
	path = vim-packages/DidYouMean.git
	url = https://github.com/EinfachToll/DidYouMean.git
[submodule "SimpylFold.git"]
	path = vim-packages/SimpylFold.git
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "vim-python-pep8-indent.git"]
	path = vim-packages/vim-python-pep8-indent.git
	url = https://github.com/hynek/vim-python-pep8-indent.git
