[submodule "winwin.git"]
	path = winwin.git
	url = git@github.com:phodge/winwin.git
[submodule "nvim-treesitter.git"]
	path = vim-packages/nvim-treesitter.git
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
	branch = master
[submodule "nvim-treesitter-playground.git"]
	path = vim-packages/nvim-treesitter-playground.git
	url = https://github.com/nvim-treesitter/playground.git
[submodule "nvimdev.nvim.git"]
	path = vim-packages/nvimdev.nvim.git
	url = https://github.com/neovim/nvimdev.nvim.git
[submodule "spacetea.vim.git"]
	path = vim-packages/spacetea.vim.git
	url = https://github.com/phodge/spacetea.vim.git
[submodule "firenvim.git"]
	path = vim-packages/firenvim.git
	url = https://github.com/glacambre/firenvim.git
[submodule "editorconfig-vim.git"]
	path = vim-packages/editorconfig-vim.git
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "ale.git"]
	path = vim-packages/ale.git
	url = https://github.com/w0rp/ale.git
	ignore = untracked
[submodule "YouCompleteMe.git"]
	path = vim-packages/YouCompleteMe.git
	url = https://github.com/Valloric/YouCompleteMe.git
	ignore = untracked
[submodule "vim-argwrap.git"]
	path = vim-packages/vim-argwrap.git
	url = https://github.com/FooSoft/vim-argwrap.git
	ignore = untracked
[submodule "nginx.vim.git"]
	path = vim-packages/nginx.vim.git
	url = https://github.com/chr4/nginx.vim.git
[submodule "DidYouMean.git"]
	path = vim-packages/DidYouMean.git
	url = https://github.com/EinfachToll/DidYouMean.git
[submodule "SimpylFold.git"]
	path = vim-packages/SimpylFold.git
	url = https://github.com/tmhedberg/SimpylFold.git
	ignore = untracked
[submodule "vim-python-pep8-indent.git"]
	path = vim-packages/vim-python-pep8-indent.git
	url = https://github.com/hynek/vim-python-pep8-indent.git
	ignore = untracked
[submodule "vim-toml.git"]
	path = vim-packages/vim-toml.git
	url = https://github.com/cespare/vim-toml.git
[submodule "nvim-lspconfig.git"]
	path = vim-packages/nvim-lspconfig.git
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "plenary.nvim.git"]
	path = vim-packages/plenary.nvim.git
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "nvim-lsp-ts-utils.git"]
	path = vim-packages/nvim-lsp-ts-utils.git
	url = https://github.com/jose-elias-alvarez/nvim-lsp-ts-utils.git
[submodule "null-ls.nvim.git"]
	path = vim-packages/null-ls.nvim.git
	url = https://github.com/jose-elias-alvarez/null-ls.nvim.git
[submodule "requirements.txt.vim.git"]
	path = vim-packages/requirements.txt.vim.git
	url = https://github.com/raimon49/requirements.txt.vim.git
[submodule "indentLine.git"]
	path = vim-packages/indentLine.git
	url = https://github.com/Yggdroot/indentLine.git
    ignore = untracked
[submodule "copilot.vim.git"]
	path = vim-packages/copilot.vim.git
	url = https://github.com/github/copilot.vim.git
[submodule "ts-node-action.git"]
	path = vim-packages/ts-node-action.git
	url = https://github.com/CKolkey/ts-node-action.git
[submodule "nvim-snippy.git"]
	path = vim-packages/nvim-snippy.git
	url = https://github.com/dcampos/nvim-snippy.git
[submodule "vim-tmux-navigator.git"]
	path = vim-packages/vim-tmux-navigator.git
	url = https://github.com/christoomey/vim-tmux-navigator.git
