[submodule "winwin.git"]
	path = winwin.git
	url = git@github.com:phodge/winwin.git
[submodule "nvim-treesitter.git"]
	path = vim-packages/nvim-treesitter.git
	url = git@github.com:nvim-treesitter/nvim-treesitter.git
	branch = 0.5-compat
[submodule "nvim-treesitter-playground.git"]
	path = vim-packages/nvim-treesitter-playground.git
	url = git@github.com:nvim-treesitter/playground.git
